<?xml version="1.0"?>
<robot name="my_field">
  <link name="field_link">
    <visual>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://summer_robot_field_description/meshes/summer_robot_field.glb"/>
      </geometry>
    </visual>
    <collision>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <geometry>
        <mesh filename="package://summer_robot_field_description/meshes/summer_robot_field.glb"/>
      </geometry>
    </collision>
    <inertial>
      <mass value="1000.0"/>
      <origin xyz="0 0 0" rpy="0 0 0"/>
      <inertia ixx="100.0" ixy="0.0" ixz="0.0" iyy="100.0" iyz="0.0" izz="100.0"/>
    </inertial>
  </link>

  <gazebo reference="field_link">
    <static>true</static>
  </gazebo>
</robot>